<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
                <% if flash[:alert] %>
                    <h3 style="color:red;", class="login-heading mb-4"><%= flash[:alert] %></h3>
                <% else %>
                    <h3 class="login-heading mb-4">Welcome back!</h3>
                <% end %>
                <%= form_for @user, url: 'login' do |f| %>
                    <%= f.email_field :email, placeholder: "Email address", required: true, class: "form-control", autofocus: true %><br>
                    <%= f.password_field :password, placeholder: "Password", required: true, class: "form-control" %><br>
                    <%= f.button "Sign in", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
