<h3 class="login-heading mb-4">New Purchase Order Product</h3>
<%= render partial: 'shared/errors', locals: {model: @po_product} %>
<%= render partial: 'shared/flash_errors', locals: {model: @po_product} %>
<br>
<%= form_for @po_product do |f| %>
    <%= f.number_field :quantity, placeholder: "Quantity", required: true, class: "form-control", autofocus: true %><br>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: "Product" %><br><br>
    <%= f.collection_select :purchase_order_id, PurchaseOrder.all, :id, :po, prompt: "Purchase Order" %>
    <!--<br><br>
    <% if !params[:purchase_order_id] %>
        <h4>Or add a new purchase order:</h4>

        <%= f.fields_for :purchase_order do |po|%>
            <%= po.text_field :po, placeholder: "Order Number" %><br>
            <%= po.text_field :bin, placeholder: "BIN" %><br>
            <%= po.text_field :start_date, placeholder: "Start Date" %><br>
            <%= po.text_field :completion_date, placeholder: "Exit Date" %><br>
        <% end %>
    <% end %>-->
        <hr>
    <% if current_page?(new_po_product_path) %>
        <%= f.button "Assign Product to P.O.", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
    <% else %>
        <%= f.button "Update Purchase Order Product", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
    <% end %>
    <hr>
    Dont't see product or purchase order?
    <hr>
    <%= link_to "Create Product", new_product_path, class: "btn btn-primary" %> OR 
    <%= link_to "Create Purchase Order", new_purchase_order_path, class: "btn btn-primary" %><hr>
    <%= link_to "Back", :back, class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
    <% if controller.action_name == 'edit' %>
        <%= link_to "Delete", po_product_path(@po_product), method: :delete, class: "btn btn-primary",data: {confirm: "Are you sure?"} %>
    <% end %>
<% end %>