<%= render partial: 'shared/errors', locals: {model: @po_product} %>
<% if flash[:alert] %>
    <h3 style="color:red;", class="login-heading mb-4"><%= flash[:alert] %></h3>
<% else %>
    <h3 class="login-heading mb-4">New Purchase Order Product</h3>
<% end %>
<br>
<%= form_for @po_product do |f| %>
    <%= f.number_field :quantity, placeholder: "Quantity", required: true, class: "form-control", autofocus: true %><br>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: "Product" %>
    
    <br><br>

    <%= f.collection_select :purchase_order_id, PurchaseOrder.all, :id, :po, prompt: "Purchase Order" %>
    <br><br>
    <% if !params[:purchase_order_id] %>
        <h4>Or add a new purchase order:</h4>

        <%= f.fields_for :purchase_order do |po|%>
            <%= po.text_field :po, placeholder: "Order Number" %><br>
            <%= po.text_field :bin, placeholder: "BIN" %><br>
            <%= po.text_field :start_date, placeholder: "Start Date" %><br>
            <%= po.text_field :completion_date, placeholder: "Exit Date" %><br>
        <% end %>
    <% end %>
        <hr>
    <%= f.button "Assign Product", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
<% end %>