<%= render partial: 'shared/errors', locals: {model: @po_product} %>
<% if flash[:alert] %>
    <h3 style="color:red;", class="login-heading mb-4"><%= flash[:alert] %></h3>
<% else %>
    <h3 class="login-heading mb-4">New Purchase Order Product</h3>
<% end %>
<br>
<%= form_for @po_product do |f| %>
    <%= f.number_field :quantity, placeholder: "Quantity", required: true, class: "form-control", autofocus: true %><br>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true %>
        <hr>
    <%= f.button "Assign Product", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
<% end %>