<h2 class="po-index-heading mb-4">Products of Purchase Order # <%= @purchase_order.po %></h2>

<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>SKU</th>
        <th>Category</th>
        <th>Quantity</th>
        <% @po_products.each do |p| %>
    </tr>
        <td><%= button_to p.product.name, product_path(p.product), method: :get %></td>
        <td><%= p.product.color %></td>
        <td><%= p.product.size %></td>
        <td><%= p.product.sku %></td>
        <td><%= p.product.category %></td>
        <td><%= button_to p.quantity, edit_purchase_order_po_product_path(@purchase_order, p), method: :get %></td>
    </tr>
        <% end %>
</table>
<hr>
<%= button_to "Back", :back, class: "btn btn-primary", method: :get %>


