<h3 class="login-heading mb-4"><%= @po_product.product.name %></h3>
<%= render partial: 'shared/errors', locals: {model: @po_product} %>
<%= render partial: 'shared/flash_errors', locals: {model: @po_product} %>
<table>
    <tr>
        <th>Quantity</th>
    </tr>
        <td><%= @po_product.quantity %></td>
    </tr>
</table>
<hr>
<%= link_to "Edit", edit_po_product_path(@po_product), class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp;&nbsp;
<%= link_to "Delete", po_product_path(@po_product), method: :delete, class: "btn btn-primary",data: {confirm: "Are you sure?"} %><hr>
<%= link_to "Back", :back, class: "btn btn-primary" %>
