<%= render partial: 'shared/errors', locals: {model: @purchase_order} %>
<% if flash[:alert] %>
    <h3 style="color:red;", class="login-heading mb-4"><%= flash[:alert] %></h3>
<% else %>
    <h3 class="login-heading mb-4">New Purchase Order</h3>
<% end %>
<br>
<%= form_for @purchase_order do |f| %>
    <%= f.text_field :po, placeholder: "Purchase Order", required: true, class: "form-control", autofocus: true %><br>
    <%= f.text_field :bin, placeholder: "BIN", required: true, class: "form-control" %><br>
    <%= f.text_field :start_date, placeholder: "Start Date - MM/DD/YYYY", required: true, class: "form-control" %><br>
    <%= f.text_field :exit_date, placeholder: "Exit Date - MM/DD/YYYY", required: true, class: "form-control" %><br>
    <%= f.button "Create New Purchase Order", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
<% end %>
            