<table>
    <tr>
        <th>P.O. Number</th>
        <th>BIN</th>
        <th>Start Date</th>
        <th>Exit Date</th>
    </tr>
        <td><%= @purchase_order.po %></td>
        <td><%= @purchase_order.bin %></td>
        <td><%= @purchase_order.start_date %></td>
        <td><%= @purchase_order.completion_date %></td>
    </tr>
</table>
<hr>
<%= link_to "More Info...", purchase_order_po_products_path(@purchase_order), class: "btn btn-primary" %><br><br>
<%= link_to "Edit", edit_purchase_order_path(@purchase_order), class: "btn btn-primary" %>
<%= link_to "Delete", purchase_order_path(@purchase_order), method: :delete, class: "btn btn-primary",data: {confirm: "Are you sure?"} %><br><br>
<%= link_to "Add Product to Purchase Order", new_purchase_order_po_product_path(@purchase_order), class: "btn btn-primary" %><hr>
<%= link_to "Back", :back, class: "btn btn-primary" %>
