<table>
    <tr>
        <th>P.O. Number</th>
        <th>BIN</th>
        <th>Start Date</th>
        <th>Exit Date</th>
    </tr>
        <td><%= @purchase_order.po %></td>
        <td><%= @purchase_order.bin %></td>
        <td><%= @purchase_order.start_date %></td>
        <td><%= @purchase_order.completion_date %></td>
    </tr>
</table>
<hr>
<%= button_to "New Product", new_product_path, method: "get", class: "btn btn-primary" %>