<h3 class="login-heading mb-4">New Product Material</h3>
<%= render partial: 'shared/errors', locals: {model: @product_material} %>
<%= render partial: 'shared/flash_errors', locals: {model: @product_material} %>
<br>
<%= form_for @product_material do |f| %>
    <%= f.number_field :quantity, placeholder: "Quantity", required: true, class: "form-control", autofocus: true %><br>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: "Product" %><br><br>
    <%= f.collection_select :material_id, Material.all, :id, :name, prompt: "Material" %>
        <hr>
    <%= f.button "Assign Material to Product", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
    <hr>
    Didn't find product or material?
    <hr>
    <%= link_to "Create Product", new_product_path, class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp;&nbsp;
    <%= link_to "Create Material", new_material_path, class: "btn btn-primary" %><hr>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>
