<%= render partial: 'shared/flash_errors', locals: {model: @product_material} %>
<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>SKU</th>
        <th>Category</th>
        <th>Quantity</th>
        <% @product_materials.each do |pm| %>
    </tr>
        <td><%= button_to pm.material.name, product_path(pm.material), method: :get %></td>
        <td><%= pm.material.color %></td>
        <td><%= pm.material.size %></td>
        <td><%= pm.material.sku %></td>
        <td><%= pm.material.category %></td>
        <td><%= button_to pm.quantity, edit_product_product_material_path(pm.product, pm), method: :get %></td>
    </tr>
        <% end %>
</table>
<hr>
<%= link_to "Back", :back, class: "btn btn-primary" %>


