<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>SKU</th>
        <th>Category</th>
    </tr>
        <td><%= @material.name %></td>
        <td><%= @material.color %></td>
        <td><%= @material.size %></td>
        <td><%= @material.sku %></td>
        <td><%= @material.category %></td>
    </tr>
</table>
<hr>
<%= link_to "Edit", edit_material_path(@material), class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
<%= link_to "Delete", material_path(@material), method: :delete, class: "btn btn-primary",data: {confirm: "Are you sure?"} %><br><br>
<%= link_to "Add Material to Product", new_product_product_material_path(@material), class: "btn btn-primary" %><hr>
<%= link_to "Back", :back, class: "btn btn-primary" %>
