<%= render partial: 'shared/errors', locals: {model: @product} %>
<% if flash[:alert] %>
    <h3 style="color:red;", class="login-heading mb-4"><%= flash[:alert] %></h3>
<% else %>
    <h3 class="login-heading mb-4">New Product</h3>
<% end %>
<br>
<%= form_for @product do |f| %>
    <%= f.text_field :name, placeholder: "Name", required: true, class: "form-control", autofocus: true %><br>
    <%= f.text_field :sku, placeholder: "SKU", required: true, class: "form-control" %><br>
    <%= f.select :color, ["Coyote", "Black", "Multicam"], prompt: "Color" %><br><br>
    <%= f.select :category, ["Bag", "Harness", "Accessory"], prompt: "Type"%><br><br>
    <%= f.select :size, ["XS", "S", "M", "M/L", "L", "XL", "XXL"], prompt: "Size" %><br><br>
        <hr>
    <% if edit_product_path %>
        <%= f.button "Edit Product", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
    <% else %>
        <%= f.button "Create New Product", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
    <% end %>
<% end %>
            