<h3 class="login-heading mb-4">New Product</h3>
<%= render partial: 'shared/errors', locals: {model: @product} %>
<%= render partial: 'shared/flash_errors', locals: {model: @product} %>

<br>
<%= form_for @product do |f| %>
    <%= f.text_field :name, placeholder: "Name", required: true, class: "form-control", autofocus: true %><br>
    <%= f.text_field :sku, placeholder: "SKU", required: true, class: "form-control" %><br>
    <%= f.select :color, ["coyote", "black", "multicam"], prompt: "Color" %><br><br>
    <%= f.select :category, ["bag", "harness", "accessory"], prompt: "Type"%><br><br>
    <%= f.select :size, ["xs", "s", "m", "m/l", "l", "xl", "xxl"], prompt: "Size" %><br><br>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
    <hr>
    <%= f.button class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
<% end %>
            