<%= render partial: 'shared/flash_errors', locals: {model: @product} %>

<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>SKU</th>
        <th>Category</th>
        <% @products.each do |p| %>
    </tr>
        <td><%= button_to p.name, product_path(p), method: :get %></td>
        <td><%= p.color %></td>
        <td><%= p.size %></td>
        <td><%= p.sku %></td>
        <td><%= p.category %></td>
    </tr>
        <% end %>
</table>
<br>