<h2 class="po-index-heading mb-4">All Products</h2>
<%= render partial: 'shared/flash_errors', locals: {model: @product} %>

<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>SKU</th>
        <th>Category</th>
        <% @products.each do |p| %>
    </tr>
        <td><%= button_to p.name, product_path(p), method: :get %></td>
        <td><%= p.color %></td>
        <td><%= p.size %></td>
        <td><%= p.sku %></td>
        <td><%= p.category %></td>
    </tr>
        <% end %>
</table>
<br>
<%= link_to "New Product", new_product_path, class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp;&nbsp;
<%= link_to "Add Product to P.O.", new_po_product_path, class: "btn btn-primary" %><hr>
<%= link_to "Back", :back, class: "btn btn-primary" %>