<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>SKU</th>
        <th>Type</th>
    </tr>
        <td><%= @product.name.titleize %></td>
        <td><%= @product.color.titleize %></td>
        <td><%= @product.size.upcase %></td>
        <td><%= @product.sku %></td>
        <td><%= @product.category.titleize %></td>
    </tr>
</table>
<hr>
<%= link_to "More Info...", product_product_materials_path(@product), class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
<%= link_to "Edit", edit_product_path(@product), class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
<%= link_to "Delete", product_path(@product), method: :delete, class: "btn btn-primary",data: {confirm: "Are you sure?"} %><br><br>
<%= link_to "Add Product to Purchase Order", new_purchase_order_po_product_path(@product), class: "btn btn-primary" %><hr>
<%= link_to "Back", :back, class: "btn btn-primary" %>